* {
    margin: 0;
}

header {
    background-color: rgba(255, 247, 244, 1);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.par-part {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: rgba(55, 55, 55, 1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hide-in-desk {
    display: none;
}

.icon-1 {
    font-size: 40px;
}

.sector-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 150px 5%;
}

.part-1 {
    width: 35%;
}

.part-1 h1 {
    font-size: 50px;
    color: rgba(55, 55, 55, 1);
    padding-bottom: 30px;
    font-weight: bolder;
}

.span-1 {
    color: rgba(255, 83, 0, 1);
}

.part-1 p {
    color: rgba(123, 123, 123, 1);
    padding-bottom: 30px;
}

.but-1 {
    background-color: rgba(255, 83, 0, 1);
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(255, 83, 0, 0.4);
    margin-top: 20px;
}

.section-1 {
    margin: 10% 5%;
}

.sector-2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.part-4 {
    width: 40%;
}

.part-4 h6 {
    color: rgba(123, 123, 123, 1);
    padding-bottom: 30px;
    font-size: 16px;
}

.part-4 h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.sector-3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.part-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 200px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.art-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 83, 0, 1);
    box-shadow: 0px 0px 15px rgba(255, 83, 0, 0.4);

}

.part-5 p {
    color: rgba(55, 55, 55, 1);
    text-align: center;
    margin-top: 20px;
    width: 180px;
}

.art-2 {
    background-color: rgba(123, 123, 123, 1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

}

.art-3 {
    background-color: rgba(0, 172, 255, 1);
    box-shadow: 0px 0px 15px rgba(0, 194, 255, 0.4);
}

.art-4 {
    background-color: rgba(55, 55, 55, 1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.section-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 150px 5%;
    background-color: rgba(255, 247, 244, 1);

}

.part-6 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 600px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 230px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box p {
    font-size: 20px;
    color: rgba(123, 123, 123, 1);
}

.section-3 {
    margin: 10% 5%;
}

.section-3 p {
    color: rgba(123, 123, 123, 1);
    text-align: center;
    padding-bottom: 30px;
}

.section-3 h2 {
    font-size: 40px;
    padding-bottom: 50px;
    text-align: center;
}

.sector-4 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.box-1 {
    width: 270px;
    height: 350px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box-1 h5 {
    font-size: 20px;
    margin: 15px 0px;
}

.box-1 h6 {
    font-size: 16px;
    color: rgba(123, 123, 123, 1);
}

.section-4 {
    padding: 150px 5%;
    background-color: rgba(255, 247, 244, 1);
}

.section-4 h6 {
    color: rgba(123, 123, 123, 1);
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
}

.section-4 h2 {
    font-size: 40px;
    padding-bottom: 50px;
    text-align: center;
}

.sector-5 {
    display: flex;
    justify-content: space-around;
}

.part-7 {
    width: 390px;
    height: 200px;
    padding: 30px 45px;
    background-color: rgba(255, 83, 0, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.part-7 h4 {
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;

}

.part-7 p {
    margin-bottom: 30px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.823);
    letter-spacing: 0%;
}

.section-5 {
    margin: 150px 5%;
}

.section-5 h6 {
    color: rgba(123, 123, 123, 1);
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
}

.section-5 h2 {
    font-size: 40px;
    padding-bottom: 50px;
    text-align: center;
}

.sector-6 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.part-8 {
    padding: 20px;
    width: 530px;
    height: 260px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pic-part {
    display: flex;
    align-items: center;
    gap: 20px;
}

.par-1 {
    color: rgba(255, 83, 0, 1);
}

.text-part h4 {
    font-size: 27px;
    color: rgba(55, 55, 55, 1);
    margin: 20px 0px;
}

.text-part h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.text-part span {
    color: rgba(123, 123, 123, 1);
}

.section-6 {
    margin: 150px 5%;
}

.section-6 h6 {
    color: rgba(123, 123, 123, 1);
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
}

.section-6 h2 {
    font-size: 40px;
    padding-bottom: 50px;
    text-align: center;
}

.sector-7 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
}

.part-9 {
    width: 340px;
    height: 200px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.pic-part-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
}

.img-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: rgba(255, 83, 0, 1);
    box-shadow: 0px 0px 15px rgba(255, 83, 0, 0.4);
}

.text-part-1 h4 {
    font-size: 25px;
    color: rgba(255, 83, 0, 1);
    margin-bottom: 10px;
}

.text-part-1 h3 {
    font-size: 30px;
    color: rgba(55, 55, 55, 1);
}

.part-9 p,
span {
    color: rgba(123, 123, 123, 1);
    margin-top: 20px;
}

.par-2 {
    color: rgba(255, 83, 0, 1);
}

.head-1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.sector-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.article-1 input {
    width: 300px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding-left: 20px;
}

.sector-9 textarea {
    min-width: 630px;
    min-height: 123px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px;
}
.but-2 {
    width: 670px;
    height: 50px;
    background-color:rgba(255, 83, 0, 1) ;
    box-shadow: 0px 0px 15px rgba(255, 83, 0, 0.4);
    border: none;
    color: white;
    margin: 30px 0px;
}

@media (max-width:510px) {
    nav {
        justify-content: space-between;
    }

    .par-part {
        display: none;
    }

    .hide-in-phone {
        display: none;
    }

    .hide-in-desk {
        display: block;
    }

    .sector-1 {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 150px 25px;
    }

    .part-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        padding: 0px 30px;
    }

    .part-1 h1 {
        font-size: 33px;
    }

    .part-2 img {
        width: 100%;
    }

    .section-1 {
        margin: 10% 20px;
    }

    .sector-2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
        text-align: center;
    }

    .part-4 h2 {
        font-size: 25px;
    }

    .part-3 img {
        width: 100%;
    }

    .part-4 {
        width: 90%;
    }

    .sector-3 {
        flex-direction: column;
    }

    .part-5 {
        width: 95%;
    }

    .section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .part-6 {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .section-3 h2,
    .section-4 h2,
    .section-5 h2,.section-6 h2 {
        font-size: 25px;

    }

    .part-7 {
        width: 200px;
        height: 150px;
    }

    .text-part h4 {
        font-size: 16px;
    }
    .sector-7 {
        flex-direction: column;
    }
    .article-1 {
        flex-direction: column;
        justify-content: space-between;
    }
    .article-1 input {
        width: 350px;
    }
    .sector-9 textarea {
        min-width: 87%;
        min-height: 80px;
    }
    .but-2 {
        width: 95%;
    }


}