*  {
    margin: 0;
}
header {
    background-color: rgba(255, 247, 244, 1);
}
nav {
    display: flex;
    justify-content:space-around;
    padding: 30px 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.par-part {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: rgba(55, 55, 55, 1);
}
.logo {
    display: flex;
    align-items: center;
    gap: 40px;
} 
.hide-in-desk {
display: none;
}
.icon-1 {
    font-size: 40px;
}
.sector-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 150px 5%;
}
.part-1 {
    width: 35%;
}
.part-1 h1 {
    font-size: 50px;
    color:rgba(55, 55, 55, 1) ;
    padding-bottom: 30px;
    font-weight: bolder;
}
.span-1 {
color: rgba(255, 83, 0, 1);
}
.part-1 p {
    color: rgba(123, 123, 123, 1);
    padding-bottom: 30px;
}
.but-1 {
    background-color: rgba(255, 83, 0, 1);
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section-1 {
    margin:10% 5%;
}
.sector-2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}
.part-4  {
width: 40%;
}
.part-4 p {
    color: rgba(123, 123, 123, 1);
    padding-bottom: 20px;
}
.part-4 h2 {
    font-size: 40px;
    padding-bottom: 20px;
}
.sector-3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.part-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:270px ;
    height: 200px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.art-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 83, 0, 1);
    box-shadow: 0px 0px 15px rgba(255, 83, 0, 0.4);
    
}
.part-5 p {
    color: rgba(55, 55, 55, 1);
    text-align: center;
    margin-top: 20px;
    width: 180px;
} 
.art-2 {
    background-color: rgba(123, 123, 123, 1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);

}
.art-3 {
    background-color: rgba(0, 172, 255, 1);
    box-shadow:0px 0px 15px rgba(0, 194, 255, 0.4) ;
}
.art-4 {
    background-color:rgba(55, 55, 55, 1) ;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.4) ;
}

@media (max-width:510px) {
    nav {
        justify-content: space-between;
    }
    .par-part {
        display: none;
    }
    .hide-in-phone {
        display: none;
    }
    .hide-in-desk {
        display: block;
    }
    .sector-1 {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 150px 25px;
    }
    .part-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        padding: 0px 30px;
    }
    .part-1 h1 {
        font-size: 33px;
    }
    .part-2 img {
        width: 100%;
    }
    .section-1 {
      margin:10% 20px;  
    }
    .sector-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.part-4 h2 {
    font-size: 25px;
}
.part-3 img{
    width: 100%;
}
.part-4  {
width: 90%;
}
.sector-3 {
    flex-direction: column;
}
.part-5 {
    width: 95%;
}

}